{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{board.name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>
    <body>
        <ul>
            {% for thread in threads %}
                <li><a href="{% url 'threadView' boardname=board.shortcut threadid=board.pk %}">{{thread}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>